html {
	font-size: 22px;
	line-height: 157%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

:focus {
	outline-color: #385193;
}

ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
li,
button {
	position: relative;
	transition: all 0.25s;
}

a:hover {
	text-decoration: none;
}

.title {
	margin-bottom: 0;
	font-size: 120px;
}

/*** ОБЩИЕ КОНЕЦ ***/



/******** ШАПКА НАЧАЛО ********/
header {
	padding: 0;
	margin: 2vh 0;

	/* border: 1px solid #25183F; */
}

header .container {
	padding: 0;

	/* border: 1px solid #25183F; */
}

.logo {
	display: flex;
	align-items: center;

	/* border: 1px solid #25183F; */
}

.logo img {
	height: 16vh;
	margin-right: 10px;

	/* border: 1px solid #25183F; */
}

.logo-name a {
	color: #25183F;
}

.logo-name h1 {
	font-size: 1.5rem;
}

.logo-name p {
	font-size: 0.6rem;
	text-align: center;
	margin: 0;

	/* border: 1px solid #25183F; */
}

nav {
	display: grid;
	align-items: end;

	/* border: 1px solid #25183F; */
}

.menu {
	display: flex;
	justify-content: space-between;

	/* border: 1px solid #25183F; */
}

.menu>li {
	padding-bottom: 5px;
}

.menu a {
	display: block;
	color: #25183F;
}

.menu a:hover {
	color: #ED1D47;
}

.menu .sub-menu>a::after {
	margin-left: 5px;
	position: absolute;
	top: 14px;

	content: "";

	width: 15px;
	height: 25px;
	background-image: url("../img/straw-arrow.svg");
	background-repeat: no-repeat;
}

.menu .sub-menu ul {
	position: absolute;
	display: none;
	padding: 10px 10px;
	left: -15px;

	/* border: 1px solid #25183F; */
}

.menu .sub-menu:hover ul {
	position: absolute;
	display: block;
	width: max-content;
	text-align: left;
	padding-top: 25px;
	border-radius: 3px;
	background-color: #ffffff;
}

.sub-menu li a {
	font-size: 0.6rem;
	margin: 0 5px;
}

.menu .sub-menu li:not(:last-child) {
	padding-bottom: 10px;
}

/*** ШАПКА КОНЕЦ ***/



/******** ПРИВЕТСТВИЕ НАЧАЛО ********/
.intro {
	min-height: 80vh;

	background-image: url(/img/intro.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* border: 1px solid #25183F; */
}

.intro .container {
	padding-top: 0;
	display: flex;
	flex-direction: column;
	min-height: inherit;
	justify-content: space-evenly;

	/* border: 1px solid #25183F; */
}

.intro p {
	font-size: 2rem;
	max-width: min-content;

	/* border: 1px solid #25183F; */
}

.btn-booking {
	padding: 5px 70px;
	opacity: 80%;
	align-self: center;
	background-color: #ED1D47;
	font-size: 2rem;

	/* border: 1px solid #25183F; */
}

.btn-booking:hover {
	opacity: 100%;
	background-color: #ED1D47;
}

.popup-fade {
	display: none;
}

.popup {
	position: absolute;
	background-color: #00DBDE;
	background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
	border: 3px solid #25183F;
	width: 50%;
	height: 200px;
	left: 25%;
	text-align: center;
	z-index: 99999;
	opacity: 1;
}

/*** ПРИВЕТСТВИЕ КОНЕЦ ***/

.arrowtop {
	position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 100;

	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	transition: all 0.25s;
}

.arrowtop:hover {
	transform: scale(1.1);
}

/******** АКЦИИ НАЧАЛО ********/
.promotion {
	padding: 50px 0;

	background-image: url(img/straw.png);
	background-repeat: no-repeat;
	background-position: top 3vh right 2vw;
	background-size: 12%;

	/* border: 1px solid #25183F; */
}

.promotion .title {
	color: #ED1D47;
	margin-bottom: 30px;
	text-align: end;

	/* border: 1px solid #25183F; */
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.promotion .carousel-item img {
	margin: 15px 0;
	box-shadow: 1px 1px 10px 1px #25183F;
	border-radius: 3px;

	/* border: 1px solid #25183F; */
}

.promotion .promo-text {
	display: none;
}

.promotion .promo-text-active {
	display: contents;
}

.promo-text h3 {
	margin-top: 20px;
	text-align: center;
}

.promo-text p {
	text-align: center;
	margin-bottom: 35px;
}

.promotion-controls .row {
	justify-content: space-evenly;

	/* border: 1px solid #25183F; */
}

.promotion-control {
	display: block;
	width: 150px;
	height: 50px;
	padding: 0;
	background-color: #fff;
	border: solid 5px #ED1D47;
	border-radius: 3px;

	background-repeat: no-repeat;
	background-position: center;

	/* border: 1px solid #25183F; */
}

.promotion-control-prev {
	background-image: url(img/arrow-prev.svg);
}

.promotion-control-next {
	background-image: url(img/arrow-next.svg);
}

/*** АКЦИИ КОНЕЦ ***/



/******** УСЛУГИ НАЧАЛО ********/
.services {
	background-color: #DFEAEF;
	background-image: url(img/blue.png);
	background-repeat: no-repeat;
	background-position: top 10vh left 5vw;
	background-size: 15%;

	/* border: 1px solid #25183F; */
}

.services .container {
	padding-top: 20px;
	padding-bottom: 50px;

	/* border: 1px solid #25183F; */
}

.services .row {
	margin-top: 20px;

	/* border: 1px solid #25183F; */
}

.services .title {
	color: #385193;
	align-self: flex-end;
	text-align: end;
}

.services .item {
	box-shadow: 1px 1px 10px 1px #385193;
	margin: 20px 0 20px 20px;
}

.services .item:hover {
	box-shadow: 1px 1px 10px 1px #25183F;
}

.services .item .image {
	background-position: center;
	background-size: cover;
	height: 500px;
}

.services .item .header {
	color: #385193;
	font-size: 16px;
	padding: 10px;
	background-color: #fff;
}

.services .item:hover .header {
	color: #25183F;
}


/*** УСЛУГИ КОНЕЦ ***/



/******** О НАС НАЧАЛО ********/
.about {
	padding: 30px 0;

	background-image: url(img/black.png);
	background-repeat: no-repeat;
	background-position: top 3vh right 2vw;
	background-size: 15%;
}

.about .title {
	color: #3A2562;
	margin-bottom: 30px;
	margin-right: 20px;
	text-align: end;
}

.about .row {
	margin: 60px 0;

	/* border: 1px solid #25183F; */
}

.about .about-masters .row {
	margin-top: 0;
	margin-bottom: 100px;
}

.about-masters-text {
	padding-top: 20px;
	margin-right: 30px;
	text-align: justify;
}

.about h3 {
	font-size: 48px;
	text-align: end;
}

.about .carousel-masters {
	width: auto;
}

.about .carousel-masters .carousel-inner {
	box-shadow: 1px 1px 10px 1px #25183F;
	border-radius: 3px;
}

.about .carousel-photo img {
	border: solid 1px #25183F;
}

.masters-slide-bg {
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.about .reviews {
	margin-top: 50px;

	/* border: solid 1px #25183F; */
}

.about blockquote {
	font-size: 0.8rem;
	margin-top: 15px;
	margin-bottom: 0;
	margin-right: 50px;
	padding: 10px;
	min-height: 180px;
	background-color: #e6daff;
}

.about cite {
	font-size: 0.6rem;
}

.about .about-more {
	display: inline-block;
	margin-bottom: 30px;
	color: #25183F;
	cursor: pointer;
}

.about .about-more:hover {
	color: #BB105E;
}

/*** О НАС КОНЕЦ ***/



/******** КОНТАКТЫ НАЧАЛО ********/
.contacts {
	padding: 50px 0;
	min-height: 85vh;

	background-color: #E7D5E7;
	background-image: url(img/rasp.png);
	background-repeat: no-repeat;
	background-position: top 3vh left 2vw;
	background-size: 15%;
}

.contacts .title {
	color: #BB105E;
	margin-bottom: 50px;
	margin-left: 30px;
}

.contacts iframe {
	box-shadow: 1px 1px 10px 1px #BB105E;
	/* height: auto; */
}

.contacts .row {
	justify-content: space-evenly;
}

.contacts .contacts-info {
	display: grid;
	align-items: flex-end;

	/* border: solid 1px #25183F; */
}

.contacts p {
	font-size: 0.7rem;
	/* text-align: right; */
}

/*** КОНТАКТЫ КОНЕЦ ***/



/******** ПОДВАЛ НАЧАЛО ********/
footer {
	min-height: 15vh;
}

footer .row {
	justify-content: space-between;
}

footer p {
	font-size: 0.6rem;
	align-self: center;
}

footer img {
	height: 15vh;
	margin: 10px;
}

/*** ПОДВАЛ КОНЕЦ ***/



/******** ЗАГЛУШКА НАЧАЛО ********/
.dummy {
	height: 100vh;
	background-color: #00DBDE;
	background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
	display: flex;
	align-content: center;
	justify-content: center;
}

/*** ЗАГЛУШКА КОНЕЦ ***/



/******** МЕДИА ЗАПРОСЫ НАЧАЛО ********/
@media(max-width: 1368px) {

	.carousel-masters .carousel-inner .carousel-item-right.active,
	.carousel-masters .carousel-inner .carousel-item-next {
		transform: translateX(100%);
	}

	.carousel-masters .carousel-inner .carousel-item-left.active,
	.carousel-masters .carousel-inner .carousel-item-prev {
		transform: translateX(-100%);
	}
}

@media(max-width: 1199px) {}

@media(max-width: 991px) {
	.services .item .image {
		background-position: top;
		height: 300px;
	}

	.about-masters-text {
		margin-right: 0;
		font-size: 0.8rem;
	}

	.about h3 {
		font-size: 36px;
	}

	iframe {
		width: 225px;
		height: 200px;
	}
}

@media(max-width: 767px) {

	.logo img {
		height: 10vh;
	}

	header {
		padding-left: 10px;
		padding-right: 10px;
	}

	.menu {
		display: none;
	}

	.menu-mobile {
		display: block;
		margin-top: 20px;
		flex-direction: column !important;
		text-align: center;
	}

	.intro p {
		font-size: 1.5rem;
	}

	.btn-booking {
		font-size: 20px;
	}

	.intro {
		height: 86vh;
	}

	.title {
		font-size: 90px;
	}

	.carousel-inner .carousel-item>div {
		display: none;
	}

	.carousel-inner .carousel-item>div:first-child {
		display: block;
	}
}

@media (max-width: 600px) {
	.intro p {
		font-size: 1rem;
	}

	.title {
		font-size: 60px;
	}

	.about-masters-text {
		font-size: 0.6rem;
	}

	.about h3 {
		font-size: 24px;
	}

	.about-masters img {
		max-height: 350px;
	}

	.popup,
	.arrowtop {
		display: none;
	}
}

@media (min-width: 320px) {

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(100%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-100%);
	}

	.carousel-photo .carousel-inner .carousel-item-right.active,
	.carousel-photo .carousel-inner .carousel-item-next {
		transform: translateX(100%);
	}

	.carousel-photo .carousel-inner .carousel-item-left.active,
	.carousel-photo .carousel-inner .carousel-item-prev {
		transform: translateX(-100%);
	}
}

@media (min-width: 767px) {

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(50%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-50%);
	}

	.carousel-photo .carousel-inner .carousel-item-right.active,
	.carousel-photo .carousel-inner .carousel-item-next {
		transform: translateX(50%);
	}

	.carousel-photo .carousel-inner .carousel-item-left.active,
	.carousel-photo .carousel-inner .carousel-item-prev {
		transform: translateX(-50%);
	}
}

@media(min-width: 991px) {

	.carousel-photo .carousel-inner .carousel-item-right.active,
	.carousel-photo .carousel-inner .carousel-item-next {
		transform: translateX(33.333%);
	}

	.carousel-photo .carousel-inner .carousel-item-left.active,
	.carousel-photo .carousel-inner .carousel-item-prev {
		transform: translateX(-33.333%);
	}
}

@media(min-width: 1199px) {

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(33.333%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-33.333%);
	}
}

@media(min-width: 1368px) {
	.container {
		max-width: 1280px;
	}

	.carousel-masters .carousel-inner .carousel-item-right.active,
	.carousel-masters .carousel-inner .carousel-item-next {
		transform: translateX(100%);
	}

	.carousel-masters .carousel-inner .carousel-item-left.active,
	.carousel-masters .carousel-inner .carousel-item-prev {
		transform: translateX(-100%);
	}

	.carousel-photo .carousel-inner .carousel-item-right.active,
	.carousel-photo .carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-photo .carousel-inner .carousel-item-left.active,
	.carousel-photo .carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
	transform: translateX(0);
}

.carousel-photo .carousel-inner .carousel-item-right,
.carousel-photo .carousel-inner .carousel-item-left {
	transform: translateX(0);
}

.carousel-masters .carousel-inner .carousel-item-right,
.carousel-masters .carousel-inner .carousel-item-left {
	transform: translateX(0);
}

.carousel-photo .carousel-inner .carousel-item-right,
.carousel-photo .carousel-inner .carousel-item-left {
	transform: translateX(0);
}